node_modules


yarn-error.log
auth.yml
.DS_Store
.env

txt_to_json.py

src/breakEmu_Core/private.pem
src/breakEmu_Core/public.pem
src/breakEmu_Core/signature.bin
src/breakEmu_API/data/*

src/breakEmu_Tool/BreakMap/node_modules

dist
.idea
venv